<h1>InFile RoR Test<h1>
<h2>Douglas Donaldo Hernández Figueroa</h2>
<h3>5750-1332 &nbsp;&nbsp;&nbsp; ddhernandezf@gmail.com</h3>
<br>
<h3>Menu</h3>
<%= link_to 'Customers', customers_path %>
<br>
<%= link_to 'Products', products_path %>
<br>
<%= link_to 'States', invoice_states_path %>
<br>
<%= link_to 'Invoice Header =(', invoice_headers_path %>
<br>
<%= link_to 'Invoice Detail =(', invoice_details_path %>