<%= form_with(model: invoice_detail, local: true) do |form| %>
  <% if invoice_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_detail.errors.count, "error") %> prohibited this invoice_detail from being saved:</h2>

      <ul>
      <% invoice_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Header %>
    <%= form.text_field :Header %>
  </div>

  <div class="field">
    <%= form.label :Product %>
    <%= form.number_field :Product %>
  </div>

  <div class="field">
    <%= form.label :Quantity %>
    <%= form.number_field :Quantity %>
  </div>

  <div class="field">
    <%= form.label :Price %>
    <%= form.text_field :Price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
